/* Empty. Add your own CSS if you like */

.titre {
	text-align: center;
}

.cercle, .cercle_rouge .cercle_bleu{
  background:yellow;
  border-radius:50%;
  width:50%;
  height:50%;
  border:2px solid #679403;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cercle img{
	height: 85%;
	width: 85%;
	transition: all linear 0.5s;
  	opacity:1;
}

.cercle img.ng-hide{
  opacity: 0;
  transition: all linear 0.5s;
}

@keyframes example {
    0% {opacity: 0;
    }
    50% {opacity: 0.5;
    }
    100%{opacity: 1;
    }
}

.cercle_choisi {
	border:5px solid black;
	border-radius:50%;
}


.plateau_jeu {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50%;
	width : 100%;
}

.message {
	text-align: center;
	color : red;
}